* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: #a8a6a6;
}

img {
    max-width: 100%;
}

h1, h2 {
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar {
    background: #2d2828;
    color: antiquewhite;
    height: 60px;
}

.navbar .logo {
    font-size: xx-large;
    font-weight: bold;
    background-color: rgb(33, 27, 27);
}

.navbar a {
    color: antiquewhite;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.navbar a:hover {
    color: lightblue;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 25px;
}

.header {
    display: flex;
    background-color: gray;
    color: antiquewhite;
    min-height: 250px;
    background-image: url(../assets/images/image-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.subtitle {
    display: flex;
    justify-content: center;
    align-items: end;
    font-size:xx-large;
    font-weight: bold;
    padding-top: 180px;
    padding-left: 700px;
}


.boxes {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
}

p {
    font-size: 20px;
}

.boxes .box {
    margin: 25px 0;
    padding: 20px 10px;
    display: flex;
}

.boxes .box h2 {
    flex: 0 0 10px;
    text-align: right;
    color: #2d2828;
    border-right: 4px solid #2d2828;
    font-size: 50px;
    line-height: 1.1;
    align-items: center;
}

.imbox {
    display: flex;
    flex-direction: row;
    padding: 30px;
    margin: 50px;
    flex-wrap: wrap;
}

.boxim:hover {
    background: gray;
}

.boxim a {
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
}

.boxim:nth-of-type(1) {
    flex: 1 0 800px;
}

.boxim:nth-of-type(2) {
    flex: 1 0 300px;
}

.boxim:nth-of-type(3) {
    flex: 1 0 350px;
}

.boxim .bottom-html {
    position: relative;
    bottom: 50px;
    left: 700px;
    color: antiquewhite;
    font-size: x-large;
    font-weight: bold;
    }

.boxim .bottom-css {
    position: relative;
    bottom: 40px;
    left: 250px;
    color: antiquewhite;
    font-size: large;
    font-weight: bold;
    }

.boxim .bottom-js {
    position: relative;
    bottom: 40px;
    left: 250px;
    color: antiquewhite;
    font-size: large;
    font-weight: bold;
    }

.box a {
    color: antiquewhite;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 30px;
    color: #2d2828;
    font-size: 20px;
}

#cont {
    margin-right: 90px;
}

.box .nav {
    display: flex;
    height: 100%;
    align-items: center;
}

.nav a:hover {
    color: rgb(101, 101, 101);
}

@media(max-width: 768px){
    .boxes .box {
        display: block;
    }
   
    .box .nav {
        display: block;
        flex-direction: column;
    }
}
